main {
  display: flex ;
  flex-direction: column ;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 4rem;
  font-weight: 400;
}
h4 {
  font-size: 2rem;
  margin: 0 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.interval-container {
  display: flex;
  margin: 0 40px;
  align-items: center;
}

.interval-length-container {
  display: flex;
}

button {
  padding: 5px 12px;
  margin: 0 10px;
  height: 25px;
  background-color: #263646;
  border: none;
  outline: none;
  cursor: pointer;
  color: #eee;
  width: 70px;
  border-radius: 2px;
}

button:disabled{
  cursor: not-allowed;
  background-color: rgb(121, 116, 116);
}

.interval-length {
  font-size: 2rem;
  margin: 2 10px;
  align-items: center;
}

.timer-container {
  border: 2px solid #263686;
  margin-top: 40px;
  border-radius: 25px;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
  padding: 10px;

}

.timer{
  font-size: 2rem;
}

.timer-actions{
  margin-top: 10px;
  text-align: center;
}